!pip install graphviz
!pip install h5py
!pip install imbalanced-learn
!pip install keras
!pip install librosa
!pip install matplotlib
!pip install music21
!pip install numpy
!pip install pandas
!pip install pretty_midi
!pip install pydot
!pip install pyyaml
!pip install scikit-learn
!pip install scipy
!pip install seaborn
!pip install sklearn
!pip install tensorflow
